body {
    background-color: #000;
    color: #fff;
}

.btn-link:hover {
    background-color: white;
    color: black;
}

.btn-link {
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 25px;
}

.modal {
    color: black;
}

.bg-black {
    background-color: #000;
}

.mih800 {
    min-height: 2000px;
}

.breakpoint {
    margin-top: 100px;
}

.sosmed-image {
    width: 30px;
    height: 30px;
    float: left;
}